title{
    color: brown;
    text-align: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    background-color: lightgray;
}
body {
  

p{
    background-color: brown-
    background-repeat: repeat;
    background-size- contain;
    background-attachment: scroll;
    color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;

    